# Data Preprocessing

In [1]:
import numpy as np
import pandas as pd

# Load the dataset

In [13]:
data=pd.read_csv('Assignment-4 bank.csv')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [9]:
data.shape

(11162, 17)

In [10]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

# finding null values in data

In [14]:
data.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11133,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11134,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11135,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11136,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11137,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11138,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11139,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11141,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11142,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11144,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11147,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11148,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11149,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11150,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11151,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11152,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11153,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11155,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11156,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11159,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11160,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11161,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [15]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

# Label Encoding

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['job'].value_counts())
data['job']=le.fit_transform(data['job'])
print(data['job'].value_counts())

management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: job, dtype: int64
4     2566
1     1944
9     1823
0     1334
7      923
5      778
6      405
8      360
10     357
2      328
3      274
11      70
Name: job, dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['marital'].value_counts())
data['marital']=le.fit_transform(data['marital'])
print(data['marital'].value_counts())

married     6351
single      3518
divorced    1293
Name: marital, dtype: int64
1    6351
2    3518
0    1293
Name: marital, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['education'].value_counts())
data['education']=le.fit_transform(data['education'])
print(data['education'].value_counts())

secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: education, dtype: int64
1    5476
2    3689
0    1500
3     497
Name: education, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['housing'].value_counts())
data['housing']=le.fit_transform(data['housing'])
print(data['housing'].value_counts())

no     5881
yes    5281
Name: housing, dtype: int64
0    5881
1    5281
Name: housing, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['loan'].value_counts())
data['loan']=le.fit_transform(data['loan'])
print(data['loan'].value_counts())

no     9702
yes    1460
Name: loan, dtype: int64
0    9702
1    1460
Name: loan, dtype: int64

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['month'].value_counts())
data['month']=le.fit_transform(data['month'])
print(data['month'].value_counts())

may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: month, dtype: int64
8     2824
1     1519
5     1514
6     1222
9      943
0      923
3      776
10     392
4      344
11     319
7      276
2      110
Name: month, dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(data['deposit'].value_counts())
data['deposit']=le.fit_transform(data['deposit'])
print(data['deposit'].value_counts())

no     5873
yes    5289
Name: deposit, dtype: int64
0    5873
1    5289
Name: deposit, dtype: int64

In [46]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,no,2343,1,0,unknown,5,8,1042,1,-1,0,unknown,1
1,56,0,1,1,no,45,0,0,unknown,5,8,1467,1,-1,0,unknown,1
2,41,9,1,1,no,1270,1,0,unknown,5,8,1389,1,-1,0,unknown,1
3,55,7,1,1,no,2476,1,0,unknown,5,8,579,1,-1,0,unknown,1
4,54,0,1,2,no,184,0,0,unknown,5,8,673,2,-1,0,unknown,1

In [47]:
x=data.iloc[:,[0,1,2,3,5,6,7,9,10,11,12,13]]
x.head()

,age,job,marital,education,balance,housing,loan,day,month,duration,campaign,pdays
0,59,0,1,1,2343,1,0,5,8,1042,1,-1
1,56,0,1,1,45,0,0,5,8,1467,1,-1
2,41,9,1,1,1270,1,0,5,8,1389,1,-1
3,55,7,1,1,2476,1,0,5,8,579,1,-1
4,54,0,1,2,184,0,0,5,8,673,2,-1

In [50]:
y=data.iloc[:,[-1]]
y.head()

   deposit
0        1
1        1
2        1
3        1
4        1

# Feature Scaling

In [52]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[ 1.49150488, -1.39160402, -0.31867191, ...,  1.93022589,
        -0.55416834, -0.48118405],
       [ 1.23967567, -1.39160402, -0.31867191, ...,  3.15461161,
        -0.55416834, -0.48118405],
       [-0.0194704 ,  1.39910458, -0.31867191, ...,  2.92990082,
        -0.55416834, -0.48118405],
       ...,
       [-0.77495804,  1.39910458,  1.27998692, ..., -0.62225823,
        -0.18678537, -0.48118405],
       [ 0.14841574,  1.39910458, -0.31867191, ..., -1.04575164,
        -0.18678537,  1.10957066],
       [-0.6070719 ,  1.39910458, -0.31867191, ...,  0.73753015,
        -0.55416834, -0.48118405]])

In [53]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
y=sc.fit_transform(y)
y

array([[ 1.05376366],
       [ 1.05376366],
       [ 1.05376366],
       ...,
       [-0.9489794 ],
       [-0.9489794 ],
       [-0.9489794 ]])

# Split the data into train and test

In [54]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(x_train.shape)
print(x_test.shape)

(8929, 12)
(2233, 12)

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(y_train.shape)
print(y_test.shape)

(8929, 1)
(2233, 1)